@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&display=swap');
@import "./new-zealand.css";
@import "russia.css";
@import "./singapore.css";
@import "./TheNetherlands.css";





.nav{
    display: flex;
    justify-content: center;
    cursor: pointer;
   
}

.nav-link{
    margin-top: 2rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration-color: none;
    color: #cacdcf;
    /* border-top: solid white .1px;
    border-bottom: solid white .1px */
}