.body {
    background-color: #DCDCDD;
    display: flex;
    flex-direction: row;
}

.country__list--title {
    font-family: "Open Sans";
    font-size: 24px;
    color: #1985A1;
    text-align: center;
}

.country__card {
    display: flex;
    justify-content: center;
}

.country__title {
    font-size: 96px;
    font-family: "Open Sans";
    color: #46494C;
    text-align: center;

}

.country__list {
    background-color: #46494C;
    border-radius: 25px;  
    font-family: montserrat;
    color: #DCDCDD;
    text-align: left;
    padding: .5rem;
}

.info-lists {
    display: flex;
    justify-content: space-between;
}
