.body {
    background-color: #DCDCDD;
}

.country__list--title {
    font-family: "Open Sans";
    font-size: 24px;
    color: #1985A1;
    text-align: center;
}

.country__card {
    display: flex;
    justify-content: center;
}

.country__title {
    font-size: 96px;
    font-family: "Open Sans";
    color: #46494C;
    text-align: center;

}

.country__img {

}

.country__list {
    background-color: #46494C;
    height: 282px;
    width: 282px;
    border-radius: 25px;
    
    font-family: montserrat;
    color: #DCDCDD;

    list-style-type: none;

    text-align: left;

}
