
.country__list--title {
    font-family: "Open Sans";
    font-size: 24px;
    color: #1985A1;
    text-align: center;
}

.country__card {
    display: flex;
    justify-content: center;
}

.country__list {
    background-color: #46494C;
    border-radius: 25px;  
    font-family: montserrat;
    color: #DCDCDD;
    text-align: center;
    padding: .5rem;
}

.info-lists {
    display: flex;
    justify-content: space-evenly;
}
.bg-nz {
    /* The image used // url is pulling from where your image is stored */
    background-image: url("../images/new-zealand-city.jpg");
  
    /* vh = view height. min-height = the minimum amount the image will shrink when the window is made to be smaller. */
    height: 100vh;
    min-height: 500px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }