
body {
    margin: 0;
}


.country__title__light { 
    display: flex; 
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    color: #DCDCDD;
    margin-top: 5rem;
}

.country__card { 
    display: flex; 
    justify-content: center;
}

.list__container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 2rem;
}


.country__list {     
    margin-right: 4.5rem;
    margin-left: 4.5rem;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    color: #DCDCDD;;
}

.country__listTitle { 
    display: flex; 
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}


.bg {
    /* The image used */
    background-image: url("../images/netherlands.jpg");
  
    /* Full height */
    height: 100vh;
    min-height: 500px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }



 